{% extends 'Gerenciamentos/base.html' %}
{% block buttom %}
<a class="btn btn-success" href="/adicionarmedico" role="button">Adicionar Medico</a>
        {% endblock %}

{%block body%}
<form>
<table class="table table-dark col-md-10 information">
    <thead>
        <tr>
            <th scope="col">n</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Nasc</th>
            <th scope="col">CRM</th>
            <th scope="col">Deletar</th>
            <th scope="col">Atualizar</th>
        </tr>
    </thead>
    <tbody>
        {%for medicos in medicosData %}
        <tr>
            <th scope="row">{{ medicos.id }}</th>
            <td>{{ medicos.nome }}</td>
            <td>{{ medicos.sobrenome }}</td>
            <td>{{ medicos.nasc }}</td>
            <td>{{ medicos.CRM }}</td>
            <td><a class="btn btn-danger information" href="/delete/{{medicos.id}}/" role="button">Remover</a></td>
            <td><a class="btn btn-warning" href="/update/{{medicos.id}}/" role="button">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}