{% extends 'Gerenciamentos/base.html' %}
{% block buttom %}
<a class="btn btn-success" href="/adicionarpacientes" role="button">Adicionar Paciente</a>
        {% endblock %}

{%block body%}
<form>
<table class="table table-dark col-md-10 information">
    <thead>
        <tr>
            <th scope="col">n</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Nasc</th>
            <th scope="col">CPF</th>
            <th scope="col">Deletar</th>
            <th scope="col">Atualizar</th>
        </tr>
    </thead>
    <tbody>
        {%for pacientes in pacientesData %}
        <tr>
            <th scope="row">{{ pacientes.id }}</th>
            <td>{{ pacientes.nome }}</td>
            <td>{{ pacientes.sobrenome }}</td>
            <td>{{ pacientes.nasc }}</td>
            <td>{{ pacientes.CPF }}</td>
            <td><a class="btn btn-danger information" href="/deletepacientes/{{pacientes.id}}/" role="button">Remover</a></td>
            <td><a class="btn btn-warning" href="/updatepacientes/{{pacientes.id}}/" role="button">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}